<!DOCTYPE html>
<html>

<head>
	<title>Product App</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
	<div class="nav-bar"></div>

	<div id="app">
		<div class="product">
		<div class="product-image">
			<a :href="link"><img :src="image"></a>
		</div>
		<div class="product-info">
			<h1>Product is: {{ product }}</h1>
			<h2>{{ description }}</h2>	

			<p v-if="inventory > 10">In stock</p>
			<p v-else-if="inventory <= 10 && inventory > 0">Almost sold out</p>
			<p v-else>Out of stock</p>

			<p v-show="onSale">On sale!!!</p>
			<ul>
				<li v-for="detail in details">{{detail}}
			</ul>

			<div v-for="variant in variants" :key="variant.variantId">
				<p>{{variant.variantColor}}</p>
			</div>
			<p>				
			Sizes:
			<ul>
				<li v-for="size in sizes">{{size}}
			</ul>
			</p>
		</div>		
		</div>
	</div>	

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="main.js"></script>
</body>

</html>